/* Fonts */
.work-sans-regular {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.work-sans-bold {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/* Shared Styles */
body {
  margin: 0;
}
main {
  max-width: 1440px;
  margin: 0 auto;
}
.display-flex {
  display: flex;
}

.section-title {
  font-size: 2.8rem;
  font-weight: 700;
}
.dark-03 {
  color: #727272;
}

.dark-02 {
  color: #424242;
}

.dark-01 {
  color: #131313;
}
.orange-txt {
  color: #ff900e;
}

.section-detail {
  font-size: 1rem;
}
.light-bg {
  background-color: #ff900e1a;
}

.btn-primary {
  background-color: #ff900e;
  border-radius: 8px;
  border: none;
  color: white;
  padding: 20px 25px;
  font-size: 1.25rem;
  font-weight: 600;
}

main > section {
  margin-top: 130px;
}

/* Header styles */

/* Navbar Styles */
.navbar {
  max-width: 1440px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.brand {
  font-weight: bold;
  font-size: 2.81rem;
}

.nav-links-container {
  gap: 30px;
}
.nav-item {
  list-style: none;
}

.nav-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.12rem;
}

/* Banner Starts */
.banner {
  max-width: 1440px;
  margin: 0 auto;
}

.banner-content {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.banner-title {
  font-weight: bold;
  font-size: 4rem;
}

.banner-img {
  width: 100%;
  margin-bottom: 45px;
}

/* Teams Section */
.teams {
  align-items: center;
  gap: 75px;
}

.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.our-features {
  max-width: 540px;
}

#of-our,
#features {
  font-weight: bold;
}

/* Some Facts */
.facts-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.sfcard {
  border: 1px solid #ff900e;
  width: 240px;
  height: 240px;
  border-radius: 8px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.fact-number {
  color: #424242;
  font-weight: 600;
  font-size: 2.8rem;
  margin: 5px 0;
}

.fact-name {
  font-size: 1.25rem;
  color: #727272;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
}

.fact-description {
  max-width: 540px;
}

/* Responsive Queries */

@media screen and (max-width: 576px) {
  .navbar,
  .nav-links-container,
  .teams {
    flex-direction: column;
  }

  .team-img-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
  }

  .our-features {
    margin: 0 auto;
  }
}

/* Medium Devices */
@media screen and (min-width: 577px) and (max-width: 992px) {
  .teams {
    flex-direction: column;
  }

  .our-features {
    margin: 20px auto;
  }
}
